name: Compile EXE
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
  
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
        
      - name: Install Pyinstaller
        run: python -m pip install pyinstaller

      - name: Compile code into EXE
        run: pyinstaller --onefile --icon="logo.ico" main.py
        
      - name: Move Files
        run: move dist/main.exe EnhancedArchiveExtractor.exe
          
      - name: Create Github Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "EnhancedArchiveExtractor.exe"
          token: ${{ secrets.COMPILER }}
